@page "/counter"
@inject BusinessLayer.BetaInfoListFactory _betaListFactory;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        //test call to business layer
        var betaList = await Task.FromResult(_betaListFactory.GetAll());

    }
}
