@page "/counter"
@inject ApplicationContext _appContext

@*DEMO #1 - Comment out this next inject line and re-run*@
@inject BusinessLayer.BetaInfoListFactory _betaListFactory

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Guid from Application Context: @_guid</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string _guid = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        if (_appContext != null
            && !_appContext.LocalContext.Contains("Guid"))
            _appContext.LocalContext.Add("Guid", Guid.NewGuid().ToString());

        //display guid
        _guid = _appContext?.LocalContext["Guid"]?.ToString();
    }
}
