@page "/counter"

@inject BusinessLayer.BetaInfoListFactory _betaListFactory

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Guid from Application Context: @_guid</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string _guid = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        if (_betaListFactory.ApplicationContext != null
            && !_betaListFactory.ApplicationContext.LocalContext.Contains("Guid"))
            _betaListFactory.ApplicationContext.LocalContext.Add("Guid", Guid.NewGuid().ToString());

        //do lookup
        var betaList = _betaListFactory.GetAll();

        //display guid
        _guid = _betaListFactory.ApplicationContext?.LocalContext["Guid"]?.ToString();
    }
}
